{% include "./navbar.html" %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Recipes</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body></center>
    <h1>Recipes</h1>
    <!-- <a href="/list"><h2>List all recipes</h2></a> -->
    <!-- <a href="/edit"><h3>Edit Recipes</h3></a> -->
    <!-- <a href="/add"><h3>Add Recipe</h3></a> -->
    <a href="/login"><h2>Login</h2></a>
    <a href="/convert"><h2>Convert</h2></a>
    <a href="/add_item"><h2>Add Items</h2></a>
    <a href="/remove_item"><h2>Remove Items</h2></a>
    <a href="/search_item"><h2>Search Items</h2></a>
    <script src="" async defer></script>
  </center>
  </body>
</html>
